{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block contenido %}


<ul id="dropdown1" class="dropdown-content">
    <li><a class="white-text" href="#!">Help</a></li>
    <li class="divider"></li>
    <li><a class="white-text" href="{% url 'GMP:logout' %}">Log Out</a></li>
</ul>

<nav class="color" role="navigation">
    <div class="nav-wrapper container col s12 m8 offset-m2 l6 offset-l3">
        <ul class="right hide-on-med-and-down">
            <li><img src="{% get_media_prefix %}/{{user.profile.profile_photo}}" alt="" class="circle responsive-img"></li>
            <li><a class="dropdown-button" data-activates="dropdown1">{{ user }}<i class="material-icons right"></i></a></li>
        </ul>
    </div>
</nav>



<div id="index-banner" class="parallax-container">
    <div id=circle>
        <img src="{% get_media_prefix %}/{{user.profile.profile_photo}}" alt="" class="circle z-depth-5">
    </div>
    <div class="parallax"><img src="{% get_media_prefix %}/{{user.profile.cover_photo}}"></div>
    <h5 class="header center teal-text text-lighten-2">{{ user }}</h5>
    <p align="center" class="teal-text">Cordoba, Argentina</p>
    <center><a href="https://www.facebook.com" class="waves-effect waves-light btn-large">Facebook</a></center>
    <a href="#noticias" class="btn-floating btn-large waves-effect waves-light grey">+</a>
</div>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#test1">Noticias</a></li>
            <li class="tab col s3"><a href="#test2">Radio</a></li>
            <li class="tab col s3"><a href="#test3">Musica</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">
        <div class="row">
            <div class="col s3 m2" >
                <div class="card" >
                    <div class="card-image" >
                        <img src="{% static 'img/tarjet.jpg' %}" >
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s3 m2">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/tarjet.jpg' %}">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s3 m2">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/tarjet.jpg' %}">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s3 m2">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/tarjet.jpg' %}">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s3 m2">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/tarjet.jpg' %}">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>

        <div align=center>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">reorder</i>Aca van noticias relacionadas al mundo de la musica</div>
                    <div class="collapsible-body"><p></p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">reorder</i>Aca van noticias relacionadas al mundo de la musica</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">reorder</i>Aca van noticias relacionadas al mundo de la musica</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">reorder</i>Aca van noticias relacionadas al mundo de la musica</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">reorder</i>Aca van noticias relacionadas al mundo de la musica</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
            </ul>
        </div>
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
