<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>#GrapeMix</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="js/jquery-2.1.4.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <link rel="icon" type="image/png" href="img/favicons.png"/>

    </head>
    <body>

        <ul id="dropdown1" class="dropdown-content">
            <li><a class="white-text" href="#!">Ayuda</a></li>
            <li class="divider"></li>
            <li><a class="white-text" href="#!">Cerrar Sesion</a></li>
        </ul>

        <nav class="color" role="navigation">
            <div class="nav-wrapper container col s12 m8 offset-m2 l6 offset-l3">
                <ul class="right hide-on-med-and-down">
                    <li><img src="img/perfil1.jpg" alt="" class="circle responsive-img"></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Rodrigo Ibarra<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container">
            <div id=circle>
                <img src="img/perfil1.jpg" alt="" class="circle z-depth-5">
            </div>
            <div id=btn>
                <a class="waves-effect waves-teal btn-flat">Noticias</a>
                <a class="waves-effect waves-teal btn-flat">Radio</a>
                <a class="waves-effect waves-teal btn-flat">Canciones</a>
            </div>
            <div class="parallax"><img src="img/background2.jpg"></div>
        </div>

        <h2>NOTICIAS</h2>

    </body>
</html>
