{% for song in songs %}
<div>
    <h6 id="tittle-{{song.id}}">
        {{song.tittle}}
    </h6>
    <p class="grey-text" id="author-{{song.id}}">By {{song.author}}</p>
    <p class="white-text" id="album-{{song.id}}">Album: {{song.album}}<p>
    <p class="white-text" id="song-{{song.id}}">Song: {{song.song}}</p>
    <p id="mp3-{{song.id}}" style="display: none">{{song.song.url}}</p>
    <span onclick="append_music({{song.id}})" style="cursor:pointer">Add</span>
    <div class="divider"></div>
</div>
{% endfor %}
<h1>SI FUNCA</h1>

