{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row z-depth-5" id=logup>
    <form class="col s12" method="POST" action="{% url 'GMP:login' %}">{% csrf_token %}
        <div class="row ">
            <div class="input-field col s10">
                <input id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div><br>
        <div>
            <a href="{% url 'GMP:logup' %}" class="grey-text waves-effect waves-orange btn-flat">Log Up</a>
            <button type="submit" name="logIn" class="white-text waves-effect orange waves btn">Log In</button>
        </div>

    </form>
</div>

<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="{% static 'img/index.jpg' %}">
        </li>
        <li>
            <img src="{% static 'img/index2.jpg' %}">
        </li>
        <li>
            <img src="{% static 'img/index3.jpg' %}">
        </li>
        <li>
            <img src="{% static 'img/index4.jpg' %}">
        </li>
    </ul>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
