<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>#GrapeMix</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="js/jquery-2.1.4.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <link rel="icon" type="image/png" href="img/favicons.png"/>

    </head>

    <body>

        <div class="row z-depth-5" id=logup>
            <form class="col s12">
                <div class="row ">
                    <div class="input-field col s10">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Nombre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input id="password" type="password" class="validate">
                        <label for="password">Contraseña</label>
                    </div>
                </div><br>
                <div>
                    <a href="login.html" class="grey-text waves-effect waves-orange btn-flat">Registrate</a>
                    <a href="inicio.html" class="white-text waves-effect orange waves btn">Inicia Sesion</a>
                </div>

            </form>
        </div>






        <div class="slider fullscreen">
            <ul class="slides">
                <li>
                    <img src="img/index.jpeg">
                </li>
                <li>
                    <img src="img/index2.jpg">
                </li>
                <li>
                    <img src="img/index3.jpg">
                </li>
                <li>
                    <img src="img/index4.jpg">
                </li>
            </ul>
        </div>
    </body>
</html>
