{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
{% for new in news %}

<div class="col s3 m2" >
    <div class="card" >
        <div class="card-image" >
            <img src={{new.picture}} >
            <span class="card-title" id="tittle-{{new.id}}">{{new.tittle}}</span>
        </div>
        <div class="card-content">

            <p id="text-{{new.id}}">{{new.text}}</p>
        </div>
        <div class="card-action">
            <a id="link-{{new.id}}" href= {{new.link}} target="_blank">{{new.link}}</a>
        </div>
    </div>
</div>


{% endfor %}


{% endblock %}
