{% for new in news %}

<div class="col s3 m2" >
    <div class="card" >
        <div class="card-image" >
            <img id="picture-{{new.id}}" src="/multimedia/{{new.picture}}"><!--Aca hay un error, intente usar MEDIA_URL y no funciona-->
            <span class="card-title" id="tittle-{{new.id}}">{{new.titulo}}</span>
        </div>
        <div class="card-content">

            <p id="text-{{new.id}}">{{new.text}}</p>
        </div>
        <div class="card-action">
            <a id="link-{{new.id}}" href= {{new.link}} target="_blank">{{new.link}}</a>
        </div>
    </div>
</div>


{% endfor %}
