/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
  color: #616161;
  background-color: gray;
}

nav ul a,

nav .brand-logo {
  color: white;
  background-color: #616161;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: orange;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: none;
  color: black; /*rgba(255,255,255,.9*/
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

titulos {
  color: orangered;
}

#general{
  width:55%;
  height:300px;
  margin-right:auto;
  margin-left: 2%;
  background-color: gray;
  border-radius:10px;

 }

#iniciar {
  position: absolute;
  margin-left: 1000px;
  margin-top: 10px;
  z-index:1000;

}

#iniciar2 {
  position: none;
  margin-left: 1000px;
  margin-top: 10px;
  z-index:1000;

}

#login{
  position: absolute;
  width:400px;
  height:400px;
  background-color: white;
  border-radius:10px;
  margin-top:70px;
  margin-left: 35%;
  margin-right: none;
  color: black;
  z-index:1000;

 }

#logup{
  position: absolute;
  width:400px;
  height:250px;
  background-color: white;
  border-radius:10px;
  margin-top:70px;
  margin-left: 35%;
  margin-right: none;
  color: black;
  z-index:1000;

 }

.circle{
  max-width: 12%;
  height: 150px;
  margin-left: 45%;
  margin-left: 43.9%;
  margin-top: 4%;
 }

#btn{
  color: aliceblue;
  padding-bottom:20%;
  margin-top: 32%;
  margin-left: 36%;
 }

#floating{
    margin-left: 48%;
    margin-top: 12%;
 }

.color{
background-color:#616161;
}

.log_up{
  width: 80%;
  margin-left: 60px;
  margin-top: 30px;
}

.log_in{
  width: 80%;
  margin-left: 50px;
  margin-top: 15px;
}

.bot_logup{
  margin-left: 45px;
  margin-top: 40px;
}

.bot_login{
    margin-left: 45px;
    margin-top: none;
}

.bot_profile{
    margin-left: 125px;
    margin-top: 50px;
}

.form_perfil{
  width: 700px;
  height: 700px;
  margin: auto;
  background-color: #FFF;
  border-radius: 10px;
}

#radio_btn{
  height: 30%;
  width: 30%;
  margin: auto;
}

#file_img{
  height: 30%;
  width: 80%;
  margin-left: 40px;
  margin-top: 7%;
}

#form_name{
  height: 30%;
  width: 80%;
  margin-left: 40px;
  margin-top: 7%;
}
